@using TT.Web.ViewModels;
@inherits TT.Web.Core.TTRazorViewBase<StrokesViewModel>
@{
    Layout = "Shared/_layout.cshtml";
}

<div class="row">
    <div class="span8">
        <div class="box">
            @Html.Partial("Shared/_videoCompare.cshtml", Model)
        </div>
    </div>
    <div class="span4">
        <div class="box">
        </div>
    </div>
</div>
