@using TT.Web.ViewModels;
@inherits TT.Web.Core.TTRazorViewBase<IndexViewModel>
@{
    Layout = "Shared/_layout.cshtml";
}

<div class="row">
    <div class="span8">
        <div class="box">
        </div>
    </div>
    <div class="span4">
        <div class="box">
        </div>
    </div>
</div>
