@using TT.Web.ViewModels;
@inherits TT.Web.Core.TTRazorViewBase<IndexViewModel>
<div class="box">
<div class="current-post" ng-controller="LatestPostController">
    
    <h4 class="box-title"><span class="orange-box-title">Latest</span> <span class="green-box-title">Post</span></h4>
    <span class="post-attr">Posted by: <strong>{{post.Author}}</strong> | Posted on: <strong>{{post.DateCreated}}</strong> | <a href="{{post.AbsoluteLink}}#comment">{{post.NumComments}} Comments</a></span>
    <a href="{{post.AbsoluteLink}}">
        <h3>{{post.Title}}</h3>
    </a>
    <img src="asset/img/thumb-2-madang.jpg">
    <div ng-bind-html="post.Content"></div>

    <a href="detail.html">See more posts</a>
</div>
</div>
<script type="text/javascript">
    function LatestPostController($scope, $http) {

        $http.jsonp('http://localhost:45436/api/posts.asmx/GetMostRecentPost?callback=JSON_CALLBACK').success(function (data) {
            data.AbsoluteLink = 'http://' + '@Model.BlogBaseURl' + data.AbsoluteLink;
             $scope.post = data;
         });
     };

</script>