@using TT.Web.ViewModels;
@inherits TT.Web.Core.TTRazorViewBase<IndexViewModel>
<div class="row">
    <div class="span8">
        <iframe width="420" height="315" src="//www.youtube.com/embed/PLwz3noMt8o" frameborder="0" allowfullscreen></iframe>

        <video id="example_video_1" class="video-js vjs-default-skin"
          controls preload="auto" width="640" height="264"
          poster="http://video-js.zencoder.com/oceans-clip.png"
          data-setup='{"example_option":true}'>
         <source src="https://tennisvids.blob.core.windows.net/serves/WP_20130706_003.mp4" type='video/mp4' />
        </video>
    </div>
</div>
